* {
	font-family: Arial;
	font-size: 12px;
}

h1 {
	font-size: 20px;
}
form {
	/*width: 800px;*/
}

fieldset {
	border: none;
	background-color: #ECE9E9;
	padding: 10px;
}

legend {
	font-weight: bold;
	font-size: 14px;
}

label, input, textarea, select {
	display: block;
}

label {
	cursor: pointer;
}

input[type=text], input[type=password], textarea {
	width: 100%;
}

#opcoes_administrativas {
	width: 300px;
	float: left;
}

#opcoes_administrativas ul {
	margin: 0;
}

#conteudo_admin {
	width: 900px;
	float: left;
}

table {
	width: 100%;
	border-collapse:collapse;
}

table th, table td {
	padding: 5px;
}

table td {
	vertical-align: top;
}

table thead tr {
	border-bottom: 2px solid #c0c0c0;
}

.par {
	background-color: #e6e6e6;
}

.pager {
	text-align: center;
	width: 100%;
	list-style-type: none;
}

.pager li {
	display: inline;
	margin-right: 10px;
	font-weight: bold;
}

.pager li a {
	padding: 5px;
	font-weight: normal;
}

.pager li a:hover {
	background-color: #e6e6e6;
}

.message {
	background-color: #F7FFAC;
	border: 1px solid #FFD200;
	padding: 10px;
	margin: 10px;
}