.erro {
	border: 1px solid #FF0000;
}
.error_summary {
	border: 1px solid #FF0000;
	background-color: #FFAEAE;
}

label {
	display: block;
}

fieldset {
	padding: 10px;
	background-color:  #f5f5f5;
	border: none;
}