html *{
	margin:0;
	padding:0;
	font-family: Arial, Verdana;
}

body {
	background-color: #87cadb;
}

a{outline:none;	border:0;}

input.submit {
	background:#37ABC8;
	color:#fff;
	font-size:11pt;
}


#wrapper {
	width:960px;
	margin: 0 auto;
	height:100%;
	background-color: #d7eef4;
}
#wrapper #header {
	position:relative;
	background: url(images/header.gif) no-repeat;
	width:100%;
	height:262px;
}

#wrapper #header h1{
	position:absolute;
	top:8px;
	left:10px;
	background: url(images/logo.png);
	width: 341px;
	height: 64px;
	text-indent:-9999px;
}

#wrapper #header #menu {
	  position:absolute;
	  top:20px;
	  right:12px;
}



#wrapper #header ul#menu  li {
	position:relative;
	float:left;
	background: url(images/button.gif) no-repeat; 
	list-style-type:none;
	text-align:center;
	width:113px;
	height:26px;
	margin:0 0 0 4px;
	padding-top: 4px;
}

#wrapper #header #menu  li a{
	text-decoration:none;
	outline:none;
	color:#fff;
	font-weight:bold;
	font-size: 10pt;
}

#wrapper #header ul#menu li ul.sub {
	position:absolute;
	background: transparent url(images/button.gif) no-repeat bottom left;
	width:113px;
	top:22px;
	left:0;
	margin:0;
	padding:0;
	display:none;
	padding:0 0 8px 0;
}

#wrapper #header ul#menu li ul.sub li{
	background: #37ABC8;
	width:100%;
	height:100%;
	display:block;
	list-style:none;
	margin:0;
	padding-top: 4px;
}
#wrapper #header ul#menu li ul.sub li a {
	font-size: 10px;
}

#wrapper #header #menu li:hover ul.sub {
	display:block;
}

#wrapper #header #menu li:hover ul.sub li:hover {
	background: blue;
}

#wrapper #header div#search {
	background: url(images/textbox.png) no-repeat;
	position:absolute;
	width:241px;
	height:26px;
	left:24px;
	bottom:6px;
}

#wrapper #header div#search .textsearch{
	height:19px;
	width:150px;
	float:left;
	border:0px solid;
	margin:5px 0 0 2px;
	
}

#wrapper  #header div#search  .submit{
	float:left;
	height:24px;
	width:92px;
	margin:1px 0 0 -3px;
	outline:none;
}

#wrapper #content #newsletter .textemail{
	margin:5px 0 0 2px;
	height:19px;
	width:150px;
	float:left;
	border:0px solid;
}



#wrapper #content{
	margin-top:20px;
	position:relative;
	width:960px;
	/*height:1083px;*/
}

#wrapper #content #showcase{
	background: url(images/showcase.gif) no-repeat;
	width:930px;
	height:411px;
	margin-left:11px;
}

#wrapper #content #showcase p.text{
	background: url(images/textbg.png) no-repeat;
	width:618px;
	height:99px;
	margin: 290px 0 0 31px;
	position:absolute;
	padding: 5px 10px 10px 10px;
	font-size: 26px;
	font-weight:bold;
	color: #fff;
}

#wrapper #content #showcase div.collaborate{
	background: url(images/collaboratebg.png) no-repeat;
	margin: 10px 0 0 617px;
	width:284px;
	height:255px;
	position:absolute;
}

#wrapper #content #showcase div.collaborate a h2{
	background: url(images/collaborate.png) no-repeat;
	width:140px;
	height:21px;
	position:absolute;
	margin: 18px 0 0 14px;
	text-indent:-9999px;
	cursor:pointer;
}

#wrapper #content #showcase div.collaborate p.text1 {
	font-size:13px;
	margin: 56px 14px 0 17px;
}

#wrapper #content #showcase div.collaborate p.text2 {
	font-size:13px;
	margin: 17px 14px 0 17px;
}

#wrapper #content #showcase div.collaborate a.gocollaborate {
	background: url(images/button1.png) no-repeat;
	width:240px;
	height:26px;
	position:absolute;
	margin:18px 0 0 22px;
	text-align:center;
	padding-top:5px;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	outline:none;
	color:#fff;
}

#wrapper #content #showcase span a{
	text-decoration:none;
	font-weight:bold;
	font-size: 12pt;
	color:#fff;
}

#wrapper #content #news{
	background: url(images/news.png) no-repeat;
	float:left;
	width: 617px;
	height: 536px;
	margin: 21px 0 0 20px;
	position:relative;
}

#wrapper #content #news a h2{
	background: url(images/gonews.gif) no-repeat;
	width:186px;
	height:37px;
	position:absolute;
	top:18px;
	left:14px;
	text-indent:-9999px;
	cursor:pointer;
}

#wrapper #content #news  .news1 img.zoo{
	width:127px;
	height:95px;
	float:left;
	position:relative;
}

#wrapper #content #news  .news1 {
	width: 583px;
	height: 137px;
	margin: 72px 0 0 19px;
	position:relative;
}

#wrapper #content #news  .news1  h3{
	float:left;
	margin-left:30px;
	width:70%;
}

#wrapper #content #news  .news1  p{
	float:left;
	margin: 5px 10px 0 30px;
	width:70%;
	font-size:10pt;
}

#wrapper #content #news   a.continue{
	text-decoration:none;
	outline:none;
	font-weight:bold;
	font-size: 9pt;
	color:#000;
	float:right;
}
#wrapper #content #news  .news2 {
	width: 583px;
	height: 97px;
	margin-left:19px;
	position:relative;
	background: #f3f3f3;
}

#wrapper #content #news  .date{
	width: 35px;
	height: 35px;
	margin-top:5px;
	position:absolute;
	background: #fff;
	text-align:center;
	font-size:10pt;
	padding-top:2px;
	font-weight:bold;
}

#wrapper #content #news .title{
	margin-left:50px;
	width:100%;
	padding-top:7px;
}

#wrapper #content #news .text{
	margin: 5px 10px 0 50px;
	font-size:10pt;
}

#wrapper #content #news  .news3 {
	width: 583px;
	height: 97px;
	margin-left:19px;
	position:relative;;
}

#wrapper #content #news  .news3 span.date1{
	width: 35px;
	height: 35px;
	margin-top:5px;
	position:absolute;
	background: #f3f3f3;
	text-align:center;
	font-size:10pt;
	padding-top:2px;
	font-weight:bold;
}

#wrapper #content #news  .news4 {
	width: 583px;
	height: 97px;
	margin-left: 19px;
	position:relative;
	background: #f3f3f3;
}

#wrapper #content #events{
	background: url(images/events.png) no-repeat;
	float:left;
	width: 274px;
	height: 353px;
	margin: 21px 0 0 27px;
	position:relative;
}

#wrapper #content #events a h2{
	width:214px;
	height:39px;
	position:absolute;
	margin: 18px 0 0 14px;
	background: url(images/goevents.gif) no-repeat;
	text-indent: -9999px;
	cursor:pointer;
}

#wrapper #content #events .event h4.title1{
	position:relative;
	margin: 65px 0 0 16px;
}
#wrapper #content #events .event h4.title1 a{
	outline:none;
	text-decoration:none;
	color:#000;
}

#wrapper #content #events .event h4.title a{
	outline:none;
	text-decoration:none;
	color:#000;
}

#wrapper #content #events .event span.date{
	font-size:10pt;
	font-weight:bold;
	margin-left: 18px;
}
#wrapper #content #events .event p.text{
	font-size:10pt;
	margin-left:18px;
}
#wrapper #content #events .event h4.title{
	margin: 20px 0 0 16px;
}

#wrapper #content #events a.goevents{
	text-decoration:none;
	outline:none;
	color:#000;
	position:absolute;
	margin: 12px 0 0 44px;
	font-size:12pt;
	font-weight:bold;
}

#wrapper #content #newsletter{
	background: url(images/newsletter.png) no-repeat;
	float:left;
	width: 274px;
	height: 170px;
	margin: 16px 0 0 27px;
	position:relative;
}

#wrapper #content #newsletter a h2{
	width:220px;
	height:38px;
	position:absolute;
	top:12px;
	left:14px;
	background: url(images/gonewsletter.gif) no-repeat;
	text-indent:-9999px;
	cursor:pointer;
}

#wrapper #content #newsletter p.text{
	margin: 55px 0 0 15px;
	font-size:10pt;
}

#wrapper #content #newsletter p.sign{
	margin:5px 0 0 15px;
	font-size:10pt;
}

#wrapper #content #newsletter div.sendemail{
	background: url(images/textbox.png) no-repeat;
	width:241px;
	height:26px;
	margin:8px 0 0 15px;
	padding:0;
	position:relative;
}

#wrapper #content #newsletter .textemail{
	margin:5px 0 0 2px;
	height:19px;
	width:150px;
	border:0;
	position:absolute;
	left:0;
}

#wrapper #content #newsletter .send{
	height:24px;
	width:92px;
	position:absolute;
	top:-15px;
	right:0;
	outline:none;
}

#wrapper #general {
	position:relative;
}
#wrapper #general #left{
	float:left;
}

#wrapper #general #submenu {
	width:269px;
	background:#fff;
	margin: 21px 0 0 20px;	
	position:relative;
	padding:15px 0 5px 15px;
}

/* bordar arredondada */
#wrapper #general #submenu .rbtop div { background: url(images/tl.gif) no-repeat top left;position:absolute;left:0; top:0; }
#wrapper #general #submenu .rbtop { background: url(images/tr.gif) no-repeat top right;position:absolute;right:0; top:0; }
#wrapper #general #submenu .rbbot div { background: url(images/bl.gif) no-repeat bottom left;position:absolute;left:0; bottom:0; }
#wrapper #general #submenu .rbbot { background: url(images/br.gif) no-repeat bottom right;position:absolute;right:0; bottom:0; }


#wrapper #general #submenu .rbtop div, .rbtop, .rbbot div, .rbbot {
	width: 284px;
	height: 7px;
	font-size: 1px;
}

#wrapper #general #submenu ul{
	margin-bottom:5px;
}

#wrapper #general #submenu  li {
	list-style:none;
	height:26px;
	padding-top:2px;
	margin: 4px 0 0 10px;
}

#wrapper #general #submenu  li a{
	text-decoration:none;
	outline:none;
	font-size: 11pt;
	color:#000;
}


#wrapper #general #submenu li:hover {
	background: url("images/submenulibg.png") no-repeat;
	padding-left:15px;
}

#wrapper #general #submenu li:hover a {
	color: #fff;

}

#wrapper #general #collaborate{
	background: url(images/collaboratebginter.png) no-repeat;
	width:284px;
	height:255px;
	margin: 21px 0 0 20px;	
	position:relative;
}

#wrapper #general #collaborate a h2{
	background: url(images/collaborate.png) no-repeat;
	width:140px;
	height:21px;
	position:absolute;
	margin: 18px 0 0 14px;
	text-indent:-9999px;
	cursor:pointer;
}

#wrapper #general #collaborate p.text1 {
	font-size:13px;
	padding: 56px 14px 0 17px;
}

#wrapper #general #collaborate p.text2 {
	font-size:13px;
	margin: 17px 14px 0 17px;
}

#wrapper #general #collaborate a.gocollaborate {
	background: url(images/button1.png) no-repeat;
	width:240px;
	height:26px;
	position:absolute;
	margin:18px 0 0 22px;
	text-align:center;
	padding-top:5px;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	outline:none;
	color:#fff;
}

#wrapper #general #newsletter{
	background: url(images/newsletterinter.png) no-repeat;
	width: 284px;
	height: 170px;
	margin: 21px 0 0 20px;	
	position:relative;
}

#wrapper #general #newsletter a h2{
	width:220px;
	height:38px;
	position:absolute;
	top:12px;
	left:14px;
	background: url(images/gonewsletter.gif) no-repeat;
	text-indent:-9999px;
	cursor:pointer;
}

#wrapper #general #newsletter p.text{
	padding: 55px 0 0 15px;
	font-size:10pt;
}

#wrapper #general #newsletter p.sign{
	margin:5px 0 0 15px;
	font-size:10pt;
}

#wrapper #general #newsletter div.sendemail{
	background: url(images/textbox.png) no-repeat;
	width:241px;
	height:26px;
	margin:8px 0 0 15px;
	padding:0;
	position:relative;
}

#wrapper #general #newsletter .textemail{
	margin:2px 0 0 2px;
	height:19px;
	width:150px;
	border:0;
	position:absolute;
	left:0;
}

#wrapper #general #newsletter .send{
	height:24px;
	width:92px;
	position:absolute;
	top:-20px;
	right:1px;
	outline:none;
}

#wrapper #general #content {
	background:#fff;
	width: 610px;
	position:relative;
	float:left;
	padding: 10px;
	margin: 21px 0 0 10px;
}

/* bordar arredondada */
#wrapper #general #content  .rbtop1 div { background: url(images/tl.gif) no-repeat top left;position:absolute;left:0; top:0; }
#wrapper #general #content  .rbtop1 { background: url(images/tr.gif) no-repeat top right;position:absolute;right:0; top:0; }
#wrapper #general #content  .rbbot1 div { background: url(images/bl.gif) no-repeat bottom left;position:absolute;left:0; bottom:0; }
#wrapper #general #content  .rbbot1 { background: url(images/br.gif) no-repeat bottom right;position:absolute;right:0; bottom:0; }


#wrapper #general #content  .rbtop1 div, .rbtop1, .rbbot1 div, .rbbot1 {
	width: 630px;
	height: 7px;
	font-size: 1px;
}

#wrapper  #footer{
	background: url(images/footer.png) no-repeat;
	width: 960px;
	height: 155px;
	position:relative;
	clear: both;
	top:113px;
}

#wrapper  #footer ul.links{
	margin-left: 94px;
	color:#fff;
}

#wrapper #footer ul li {
	list-style:none;
	display: inline;
	width:70px;
	margin: 10px 15px 0 15px;
}


#wrapper  #footer ul li a {
	text-decoration:none;
	outline:none;
	color:#fff;
	font-weight:bold;
	font-size: 10pt;
	border-right:2px solid #fff;
	padding:0 14px 0 0;
}

#wrapper  #footer ul li a.last {
	border:none;
	padding:0;
}

#wrapper  #footer p.address{
	margin: 56px 0 10px 281px;
	font-size: 12px;
	color: #fff;
}

#wrapper  #footer p.copy{
	margin-left:292px;
	font-size: 12px;
	color: #fff;
}

#content p, .breadcrumb, #content ul {
	font-size: 12px;
}

.breadcrumb {
	margin-bottom: 10px;
}

p.categorias, p.classname {
	background-color:#F5F5F5;
	padding: 3px;
	margin: 10px 0;
}

#content h2 {
	color: #205bb4;
	font-size: 20px;
	font-weight: bold;
}

#content img {
	margin: 10px;
}

#comentarios {
	margin-top: 20px;
}

.comentario {
		padding: 5px;
	margin-bottom: 4px;
}

.comentario .autoria_comentario {
	font-weight: bold;
	color: #6D6D6D;
}

.comentario .texto_comentario {
	text-indent: 5px;
}

#comentarios .impar {
	background-color: #F5F5F5;

	border-top: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;
}

#comentarios label {
	display: block;
}

#comentarios fieldset {
	background-color: #f5f5f5;
	border: none;
	padding: 10px;
	margin-top: 20px;
}