<?php if(isset($message) && $message != ''): ?>
<div class="message">
	<p><?php echo $message; ?></p>
</div>
<?php endif; ?>
<?php echo form_error_summary($form); ?>
<?php echo render_form($form); ?>

<script type="text/javascript">
window.onload = function()
{
	CKEDITOR.replace('corpo', {
		toolbar:  [
			[
				'Bold', 'Italic','Underline','Strike', '-',
				'JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock', '-',
				'NumberedList', 'BulletedList', '-',
				'Image', 'Table' ,'-',
				'Link', 'Unlink','-',
				'Source', '-',
				'About'
			]
		],
		filebrowserBrowseUrl : 'includes/ckfinder/ckfinder.html',
		filebrowserImageBrowseUrl : 'includes/ckfinder/ckfinder.html?Type=Images',
		filebrowserFlashBrowseUrl : 'includes/ckfinder/ckfinder.html?Type=Flash',
		filebrowserUploadUrl : 'includes/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files',
		filebrowserImageUploadUrl : 'includes/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Images',
		filebrowserFlashUploadUrl : 'includes/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Flash',
		on : {
			instanceReady: function(ev) {
				this.dataProcessor.writer.setRules( 'p',
                {
                    indent : false,
                    breakBeforeOpen : false,
                    breakAfterOpen : false,
                    breakBeforeClose : false,
                    breakAfterClose : false
                });
			}
		}
	});
};
</script>