		<table>
			<thead>
				<tr>
					<th>id</th>
					<th>Titulo</th>
					<th>Chamada</th>
					<th>Autor</th>
					<th>Ultima atualizaçao</th>
					<th>Operaçoes</th>
				</tr>
			</thead>
			<tbody>
				<?php foreach($posts as $n => $post): ?>
					<tr class="<?php echo $n % 2 ? "impar" : "par"; ?>">
						<td><?php echo $post['id']; ?></td>
						<td><a href="index.php?r=post/view/<?php echo $post['id']; ?>"><?php echo $post['titulo']; ?></a></td>
						<td><?php echo $post['chamada']; ?></td>
						<td><?php echo $post['id_autor']; ?></td>
						<td><?php echo date('d/m/Y H:i', $post['ultima_atualizacao'] ? strtotime($post['ultima_atualizacao']) : strtotime($post['data_criacao'])); ?></td>
						<td>
							[<a href="index.php?r=post/edit/<?php echo $post['id']; ?>">editar</a>]
							[<a href="index.php?r=post/delete/<?php echo $post['id']; ?>">apagar</a>]
						</td>
					</tr>
				<?php endforeach; ?>
			</tbody>
		</table>
		<?php echo $pager; ?>
