<html lang="pt-br">
	<head>
		<title>Listagem de Eventos</title>
			<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	</head>
	<body>
		<table width="100%">
			<thead>
				<tr>
					<th>id</th>
					<th>nome</th>
					<th>login</th>
					<th>e-mail</th>
				</tr>
			</thead>
			<tbody>
				<?php foreach($usuarios as $usuario): ?>
					<tr>
						<td align="center"><?php echo $usuario['nome']; ?></td>
						<td align="center"><a href="index.php?r=usuarios/edit/<?php echo $usuario['id']; ?>"><?php echo $usuario['nome']; ?></a></td>
						<td align="center"><?php echo $usuario['login']; ?></td>
						<td align="center"><?php echo $usuario['email']; ?></td>
					</tr>
				<?php endforeach; ?>
			</tbody>
		</table>
		<?php echo $pager; ?>
	</body>
</html>