<html lang="pt-br">
	<head>
		<title>Listagem de Usuários</title>
			<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	</head>
	<body>
		<table>
			<thead>
				<tr>
					<th>id</th>
					<th>nome</th>
					<th>login</th>
					<th>email</th>
					<th>ultimo acesso</th>
				</tr>
			</thead>
			<tbody>
				<?php foreach($usuario as $usuarios): ?>
					<tr>
						<td><?php echo $usuarios['id']; ?></td>
						<td><a href="index.php?r=usuarios/edit/<?php echo $usuarios['id']; ?>"><?php echo $usuarios['nome']; ?></a></td>
						<td><?php echo $usuarios['login']; ?></td>
						<td><?php echo $usuarios['email']; ?></td>
						<td><?php echo $usuarios['data_ultimo_acesso']; ?></td>
					</tr>
				<?php endforeach; ?>
			</tbody>
		</table>
		<?php echo $pager; ?>
	</body>
</html>