<?php if(isset($message)): ?>
<div class="message">
	<p><?php echo $message; ?></p>
</div>
<?php endif; ?>
<?php echo form_error_summary($form); ?>
<?php echo render_form($form); ?>
<table>
	<thead>
		<tr>
			<th>Categoria</th>
			<th>Descriçao</th>
			<th>Operaçoes</th>
		</tr>
	</thead>
	<tbody>
	<?php foreach($categorias as $n => $categoria): ?>
		<tr class="<?php echo $n % 2 ? "impar" : "par"; ?>">
			<td><?php echo $categoria['nome']; ?></td>
			<td><?php echo $categoria['descricao']; ?></td>
			<td>
				<a href="index.php?r=categoria/delete/<?php echo $categoria['id']; ?>" class="apagar">[apagar]</a>
				<a href="index.php?r=categoria/list/<?php echo $categoria['nome']; ?>"> [listar posts]</a>
			</td>
		</tr>
	<?php endforeach; ?>
	</tbody>
</table>