<?php if(isset($message)): ?>
	<div class="message">
		<?php echo $message; ?>
	</div>
<?php endif; ?>

<p>Entre em contato conosco. Envie sua mensagem atraves do formulario abaixo.</p>
<br />
<p>Você também pode entrar em contato por cartas:</p>
<p>Reino da Garotada de Poá<br />
Rua Padre Eustáquio, 347 - Vila Archimedes - Poá/SP<br />
CEP: 08562-400</p>
<br />
<p>Telefone:</p>
<p>TEL: (55 11) 4638-2466 - FAX: (55 11) 4638-3444</p>
<br />
<p>Ou e-mail:</p>
<p>E-mail: noticias@reinodagarotada.org.br</p>
<br />

<?php echo form_error_summary($form); ?>
<?php echo render_form($form); ?>