<table>
	<thead>
		<tr>
			<th>id</th>
			<th>Titulo</th>
			<th>Data</th>
			<th>Evento</th>
			<th>Operaçoes</th>
		</tr>
	</thead>
	<tbody>
		<?php foreach($eventos as $evento): ?>
			<tr>
				<td><?php echo $evento['id']; ?></td>
				<td><?php echo $evento['titulo']; ?></a></td>
				<td><?php echo date('d/m/Y', strtotime($evento['data'])); ?></td>
				<td><?php echo $evento['evento']; ?></td>
				<td>
					<a href="index.php?r=eventos/delete/<?php echo $evento['id']; ?>" class="apagar">[apagar]</a>
					 
					<a href="index.php?r=eventos/edit/<?php echo $evento['id']; ?>">[editar]</a>
				</td>
			</tr>
		<?php endforeach; ?>
	</tbody>
</table>
<?php echo $pager; ?>
